In [2]:
# import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Code4Lib 2017 Workshop Part 2

## Merging Data

In many real world situations, the data we'd like to analyze comes in multiple files. Pandas provides multiple different ways of merging data, including "merge()", and "concat()". To get started, we first need to load each of our datasets into a DataFrame. We'll use the same surveys data as in the last part of the workshop, as well as another dataset called "species.csv", which augments the data available for each species code.

In [5]:
# load the csvs into DataFrames
survey_dataframe = pd.read_csv("data/surveys.csv")
survey2_dataframe = pd.read_csv("data/surveys2.csv")

# print out the dimensions of each DataFrame
print("""
Survey1: %s
Survey2: %s
""" % (survey_dataframe.shape, survey2_dataframe.shape))

Survey1: (35549, 9)
Survey2: (99, 9)

### Concatenation

First, we'll look at concatenating two DataFrames. We've imported the original survey data from the last part of the workshop, as well as another file "surveys2.csv", which contains additional records with the same structure as "surveys.csv". Often, data is separated over multiple files for many reasons including logical separation (time-based, etc), or due to size constraints, so it is useful to know how to concatenate multiple sets of data.

Pandas provides the "pd.concat()" method, which accepts a sequence (example: tuple, list, dict) of Series or DataFrame objects to concatenate together. We'll pass a list containing the survey_dataframe and the survey2_dataframe to create a new DataFrame "big_survey_dataframe":

In [6]:
big_survey_dataframe = pd.concat([survey_dataframe, survey2_dataframe])
big_survey_dataframe

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN
5,6,7,16,1977,1,PF,M,14.0,NaN
6,7,7,16,1977,2,PE,F,NaN,NaN
7,8,7,16,1977,1,DM,M,37.0,NaN
8,9,7,16,1977,1,DM,F,34.0,NaN
9,10,7,16,1977,6,PF,F,20.0,NaN
10,11,7,16,1977,5,DS,F,53.0,NaN
11,12,7,16,1977,7,DM,M,38.0,NaN
12,13,7,16,1977,3,DM,M,35.0,NaN
13,14,7,16,1977,8,DM,NaN,NaN,NaN
14,15,7,16,1977,6,DM,F,36.0,NaN
15,16,7,16,1977,4,DM,F,36.0,NaN
16,17,7,16,1977,3,DS,F,48.0,NaN
17,18,7,16,1977,2,PP,M,22.0,NaN
18,19,7,16,1977,4,PF,NaN,NaN,NaN
19,20,7,17,1977,11,DS,F,48.0,NaN
20,21,7,17,1977,14,DM,F,34.0,NaN
21,22,7,17,1977,15,NL,F,31.0,NaN
22,23,7,17,1977,13,DM,M,36.0,NaN
23,24,7,17,1977,13,SH,M,21.0,NaN
24,25,7,17,1977,9,DM,M,35.0,NaN
25,26,7,17,1977,15,DM,M,31.0,NaN
26,27,7,17,1977,15,DM,M,36.0,NaN
27,28,7,17,1977,11,DM,M,38.0,NaN
28,29,7,17,1977,11,PP,M,NaN,NaN
29,30,7,17,1977,10,DS,F,52.0,NaN
...,...,...,...,...,...,...,...,...,...
69,70,8,19,1977,3,OX,F,21.0,22.0
70,71,8,19,1977,7,DM,F,36.0,35.0
71,72,8,19,1977,2,NL,M,31.0,NaN
72,73,8,19,1977,3,DS,F,44.0,NaN
73,74,8,19,1977,8,PF,M,12.0,7.0
74,75,8,19,1977,8,DM,F,32.0,22.0
75,76,8,19,1977,9,DS,F,47.0,NaN
76,77,8,19,1977,4,SS,NaN,NaN,NaN
77,78,8,19,1977,1,PF,M,16.0,9.0
78,79,8,19,1977,7,DM,F,34.0,42.0
79,80,8,19,1977,1,DS,M,48.0,NaN
80,81,8,19,1977,4,PF,F,14.0,8.0
81,82,8,19,1977,4,DM,F,35.0,41.0
82,83,8,20,1977,6,DM,F,37.0,37.0
83,84,8,20,1977,19,DM,F,35.0,43.0
84,85,8,20,1977,23,DM,F,35.0,41.0
85,86,8,20,1977,18,DM,F,33.0,40.0
86,87,8,20,1977,5,PF,F,11.0,9.0
87,88,8,20,1977,18,DM,F,35.0,45.0
88,89,8,20,1977,12,PP,F,20.0,15.0
89,90,8,20,1977,18,DM,M,35.0,29.0
90,91,8,20,1977,11,DS,F,50.0,NaN
91,92,8,20,1977,6,DM,M,35.0,39.0
92,93,8,20,1977,18,DM,NaN,NaN,42.0
93,94,8,20,1977,18,DM,F,36.0,43.0
94,95,8,20,1977,23,DM,M,38.0,46.0
95,96,8,20,1977,12,DM,M,36.0,41.0
96,97,8,20,1977,18,DM,M,36.0,41.0
97,98,8,20,1977,5,DM,M,38.0,40.0
98,99,8,20,1977,11,DM,M,37.0,45.0

### Merge

Merging in Pandas is when you combine two different DataFrames that share an identifier into a single DataFrame. This can be compared to the idea of joins in SQL. When you have two different DataFrames containing a shared identifier (think foreign key), you can use the "pd.merge()" function to merge them into a single DataFrame.

We'll first load another dataset from "species.csv", containing information which expands on the species_id in our survey dataset.

In [7]:
species_dataframe = pd.read_csv("data/species.csv")
species_dataframe.head()

  species_id             genus          species    taxa
0         AB        Amphispiza        bilineata    Bird
1         AH  Ammospermophilus          harrisi  Rodent
2         AS        Ammodramus       savannarum    Bird
3         BA           Baiomys          taylori  Rodent
4         CB   Campylorhynchus  brunneicapillus    Bird

http://pandas.pydata.org/pandas-docs/stable/merging.html



inner join merge

In [8]:
merged_survey_dataframe = pd.merge(left=big_survey_dataframe, right=species_dataframe, left_on='species_id', right_on='species_id')
merged_survey_dataframe

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight,genus,species,taxa
0,1,7,16,1977,2,NL,M,32.0,NaN,Neotoma,albigula,Rodent
1,2,7,16,1977,3,NL,M,33.0,NaN,Neotoma,albigula,Rodent
2,22,7,17,1977,15,NL,F,31.0,NaN,Neotoma,albigula,Rodent
3,38,7,17,1977,17,NL,M,33.0,NaN,Neotoma,albigula,Rodent
4,72,8,19,1977,2,NL,M,31.0,NaN,Neotoma,albigula,Rodent
5,106,8,20,1977,12,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent
6,107,8,20,1977,18,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent
7,121,8,21,1977,15,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent
8,171,9,11,1977,12,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent
9,194,9,12,1977,11,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent
10,214,9,12,1977,17,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent
11,224,9,13,1977,2,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent
12,266,10,16,1977,2,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent
13,272,10,16,1977,18,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent
14,281,10,16,1977,20,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent
15,282,10,16,1977,22,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent
16,297,10,17,1977,11,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent
17,314,10,17,1977,14,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent
18,344,10,18,1977,3,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent
19,349,11,12,1977,2,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent
20,353,11,12,1977,18,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent
21,363,11,12,1977,2,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent
22,390,11,13,1977,11,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent
23,393,11,13,1977,14,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent
24,406,11,14,1977,12,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent
25,435,12,10,1977,2,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent
26,465,12,11,1977,5,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent
27,469,12,11,1977,12,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent
28,475,12,11,1977,11,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent
29,486,12,11,1977,14,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent
...,...,...,...,...,...,...,...,...,...,...,...,...
34855,26557,7,29,1997,7,PL,F,20.0,22.0,Peromyscus,leucopus,Rodent
34856,26701,7,30,1997,3,PL,M,21.0,19.0,Peromyscus,leucopus,Rodent
34857,26787,9,27,1997,7,PL,F,21.0,16.0,Peromyscus,leucopus,Rodent
34858,26889,9,28,1997,16,PL,F,21.0,10.0,Peromyscus,leucopus,Rodent
34859,26921,9,28,1997,5,PL,M,22.0,20.0,Peromyscus,leucopus,Rodent
34860,26931,9,28,1997,10,PL,F,10.0,19.0,Peromyscus,leucopus,Rodent
34861,26934,9,28,1997,10,PL,M,21.0,22.0,Peromyscus,leucopus,Rodent
34862,26966,10,25,1997,7,PL,M,20.0,16.0,Peromyscus,leucopus,Rodent
34863,27185,11,22,1997,7,PL,F,21.0,22.0,Peromyscus,leucopus,Rodent
34864,27386,12,29,1997,3,PL,M,20.0,17.0,Peromyscus,leucopus,Rodent
34865,27393,12,29,1997,15,PL,M,19.0,16.0,Peromyscus,leucopus,Rodent
34866,27481,2,1,1998,15,PL,M,19.0,18.0,Peromyscus,leucopus,Rodent
34867,27538,2,1,1998,10,PL,F,20.0,20.0,Peromyscus,leucopus,Rodent
34868,27792,5,2,1998,7,PL,F,20.0,8.0,Peromyscus,leucopus,Rodent
34869,27801,5,3,1998,15,PL,M,21.0,22.0,Peromyscus,leucopus,Rodent
34870,27898,5,28,1998,23,PL,M,20.0,20.0,Peromyscus,leucopus,Rodent
34871,27957,5,29,1998,9,PL,M,21.0,16.0,Peromyscus,leucopus,Rodent
34872,27975,5,29,1998,10,PL,M,20.0,13.0,Peromyscus,leucopus,Rodent
34873,30499,3,4,2000,24,PL,M,20.0,21.0,Peromyscus,leucopus,Rodent
34874,23435,2,25,1996,13,PX,NaN,NaN,NaN,Chaetodipus,sp.,Rodent
34875,24669,10,13,1996,3,PX,NaN,NaN,NaN,Chaetodipus,sp.,Rodent
34876,24991,2,8,1997,23,PX,F,19.0,20.0,Chaetodipus,sp.,Rodent
34877,25137,2,9,1997,13,PX,M,20.0,18.0,Chaetodipus,sp.,Rodent
34878,28806,11,21,1998,7,PX,NaN,NaN,NaN,Chaetodipus,sp.,Rodent
34879,30986,7,1,2000,7,PX,NaN,NaN,NaN,Chaetodipus,sp.,Rodent
34880,28988,12,23,1998,6,CT,NaN,NaN,NaN,Cnemidophorus,tigris,Reptile
34881,35512,12,31,2002,11,US,NaN,NaN,NaN,Sparrow,sp.,Bird
34882,35513,12,31,2002,11,US,NaN,NaN,NaN,Sparrow,sp.,Bird
34883,35528,12,31,2002,13,US,NaN,NaN,NaN,Sparrow,sp.,Bird
34884,35544,12,31,2002,15,US,NaN,NaN,NaN,Sparrow,sp.,Bird

left join merge

In [9]:
left_merged_survey = pd.merge(left=big_survey_dataframe,
                              right=species_dataframe,
                              how='left',
                              left_on='species_id',
                              right_on='species_id')
left_merged_survey

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight,genus,species,taxa
0,1,7,16,1977,2,NL,M,32.0,NaN,Neotoma,albigula,Rodent
1,2,7,16,1977,3,NL,M,33.0,NaN,Neotoma,albigula,Rodent
2,3,7,16,1977,2,DM,F,37.0,NaN,Dipodomys,merriami,Rodent
3,4,7,16,1977,7,DM,M,36.0,NaN,Dipodomys,merriami,Rodent
4,5,7,16,1977,3,DM,M,35.0,NaN,Dipodomys,merriami,Rodent
5,6,7,16,1977,1,PF,M,14.0,NaN,Perognathus,flavus,Rodent
6,7,7,16,1977,2,PE,F,NaN,NaN,Peromyscus,eremicus,Rodent
7,8,7,16,1977,1,DM,M,37.0,NaN,Dipodomys,merriami,Rodent
8,9,7,16,1977,1,DM,F,34.0,NaN,Dipodomys,merriami,Rodent
9,10,7,16,1977,6,PF,F,20.0,NaN,Perognathus,flavus,Rodent
10,11,7,16,1977,5,DS,F,53.0,NaN,Dipodomys,spectabilis,Rodent
11,12,7,16,1977,7,DM,M,38.0,NaN,Dipodomys,merriami,Rodent
12,13,7,16,1977,3,DM,M,35.0,NaN,Dipodomys,merriami,Rodent
13,14,7,16,1977,8,DM,NaN,NaN,NaN,Dipodomys,merriami,Rodent
14,15,7,16,1977,6,DM,F,36.0,NaN,Dipodomys,merriami,Rodent
15,16,7,16,1977,4,DM,F,36.0,NaN,Dipodomys,merriami,Rodent
16,17,7,16,1977,3,DS,F,48.0,NaN,Dipodomys,spectabilis,Rodent
17,18,7,16,1977,2,PP,M,22.0,NaN,Chaetodipus,penicillatus,Rodent
18,19,7,16,1977,4,PF,NaN,NaN,NaN,Perognathus,flavus,Rodent
19,20,7,17,1977,11,DS,F,48.0,NaN,Dipodomys,spectabilis,Rodent
20,21,7,17,1977,14,DM,F,34.0,NaN,Dipodomys,merriami,Rodent
21,22,7,17,1977,15,NL,F,31.0,NaN,Neotoma,albigula,Rodent
22,23,7,17,1977,13,DM,M,36.0,NaN,Dipodomys,merriami,Rodent
23,24,7,17,1977,13,SH,M,21.0,NaN,Sigmodon,hispidus,Rodent
24,25,7,17,1977,9,DM,M,35.0,NaN,Dipodomys,merriami,Rodent
25,26,7,17,1977,15,DM,M,31.0,NaN,Dipodomys,merriami,Rodent
26,27,7,17,1977,15,DM,M,36.0,NaN,Dipodomys,merriami,Rodent
27,28,7,17,1977,11,DM,M,38.0,NaN,Dipodomys,merriami,Rodent
28,29,7,17,1977,11,PP,M,NaN,NaN,Chaetodipus,penicillatus,Rodent
29,30,7,17,1977,10,DS,F,52.0,NaN,Dipodomys,spectabilis,Rodent
...,...,...,...,...,...,...,...,...,...,...,...,...
35618,70,8,19,1977,3,OX,F,21.0,22.0,Onychomys,sp.,Rodent
35619,71,8,19,1977,7,DM,F,36.0,35.0,Dipodomys,merriami,Rodent
35620,72,8,19,1977,2,NL,M,31.0,NaN,Neotoma,albigula,Rodent
35621,73,8,19,1977,3,DS,F,44.0,NaN,Dipodomys,spectabilis,Rodent
35622,74,8,19,1977,8,PF,M,12.0,7.0,Perognathus,flavus,Rodent
35623,75,8,19,1977,8,DM,F,32.0,22.0,Dipodomys,merriami,Rodent
35624,76,8,19,1977,9,DS,F,47.0,NaN,Dipodomys,spectabilis,Rodent
35625,77,8,19,1977,4,SS,NaN,NaN,NaN,Spermophilus,spilosoma,Rodent
35626,78,8,19,1977,1,PF,M,16.0,9.0,Perognathus,flavus,Rodent
35627,79,8,19,1977,7,DM,F,34.0,42.0,Dipodomys,merriami,Rodent
35628,80,8,19,1977,1,DS,M,48.0,NaN,Dipodomys,spectabilis,Rodent
35629,81,8,19,1977,4,PF,F,14.0,8.0,Perognathus,flavus,Rodent
35630,82,8,19,1977,4,DM,F,35.0,41.0,Dipodomys,merriami,Rodent
35631,83,8,20,1977,6,DM,F,37.0,37.0,Dipodomys,merriami,Rodent
35632,84,8,20,1977,19,DM,F,35.0,43.0,Dipodomys,merriami,Rodent
35633,85,8,20,1977,23,DM,F,35.0,41.0,Dipodomys,merriami,Rodent
35634,86,8,20,1977,18,DM,F,33.0,40.0,Dipodomys,merriami,Rodent
35635,87,8,20,1977,5,PF,F,11.0,9.0,Perognathus,flavus,Rodent
35636,88,8,20,1977,18,DM,F,35.0,45.0,Dipodomys,merriami,Rodent
35637,89,8,20,1977,12,PP,F,20.0,15.0,Chaetodipus,penicillatus,Rodent
35638,90,8,20,1977,18,DM,M,35.0,29.0,Dipodomys,merriami,Rodent
35639,91,8,20,1977,11,DS,F,50.0,NaN,Dipodomys,spectabilis,Rodent
35640,92,8,20,1977,6,DM,M,35.0,39.0,Dipodomys,merriami,Rodent
35641,93,8,20,1977,18,DM,NaN,NaN,42.0,Dipodomys,merriami,Rodent
35642,94,8,20,1977,18,DM,F,36.0,43.0,Dipodomys,merriami,Rodent
35643,95,8,20,1977,23,DM,M,38.0,46.0,Dipodomys,merriami,Rodent
35644,96,8,20,1977,12,DM,M,36.0,41.0,Dipodomys,merriami,Rodent
35645,97,8,20,1977,18,DM,M,36.0,41.0,Dipodomys,merriami,Rodent
35646,98,8,20,1977,5,DM,M,38.0,40.0,Dipodomys,merriami,Rodent
35647,99,8,20,1977,11,DM,M,37.0,45.0,Dipodomys,merriami,Rodent

## Cleaning Data

* removing duplicate entries
http://pandas.pydata.org/pandas-docs/version/0.17.1/generated/pandas.DataFrame.drop_duplicates.html

In [10]:
no_duplicates_survey = left_merged_survey.drop_duplicates()
no_duplicates_survey

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight,genus,species,taxa
0,1,7,16,1977,2,NL,M,32.0,NaN,Neotoma,albigula,Rodent
1,2,7,16,1977,3,NL,M,33.0,NaN,Neotoma,albigula,Rodent
2,3,7,16,1977,2,DM,F,37.0,NaN,Dipodomys,merriami,Rodent
3,4,7,16,1977,7,DM,M,36.0,NaN,Dipodomys,merriami,Rodent
4,5,7,16,1977,3,DM,M,35.0,NaN,Dipodomys,merriami,Rodent
5,6,7,16,1977,1,PF,M,14.0,NaN,Perognathus,flavus,Rodent
6,7,7,16,1977,2,PE,F,NaN,NaN,Peromyscus,eremicus,Rodent
7,8,7,16,1977,1,DM,M,37.0,NaN,Dipodomys,merriami,Rodent
8,9,7,16,1977,1,DM,F,34.0,NaN,Dipodomys,merriami,Rodent
9,10,7,16,1977,6,PF,F,20.0,NaN,Perognathus,flavus,Rodent
10,11,7,16,1977,5,DS,F,53.0,NaN,Dipodomys,spectabilis,Rodent
11,12,7,16,1977,7,DM,M,38.0,NaN,Dipodomys,merriami,Rodent
12,13,7,16,1977,3,DM,M,35.0,NaN,Dipodomys,merriami,Rodent
13,14,7,16,1977,8,DM,NaN,NaN,NaN,Dipodomys,merriami,Rodent
14,15,7,16,1977,6,DM,F,36.0,NaN,Dipodomys,merriami,Rodent
15,16,7,16,1977,4,DM,F,36.0,NaN,Dipodomys,merriami,Rodent
16,17,7,16,1977,3,DS,F,48.0,NaN,Dipodomys,spectabilis,Rodent
17,18,7,16,1977,2,PP,M,22.0,NaN,Chaetodipus,penicillatus,Rodent
18,19,7,16,1977,4,PF,NaN,NaN,NaN,Perognathus,flavus,Rodent
19,20,7,17,1977,11,DS,F,48.0,NaN,Dipodomys,spectabilis,Rodent
20,21,7,17,1977,14,DM,F,34.0,NaN,Dipodomys,merriami,Rodent
21,22,7,17,1977,15,NL,F,31.0,NaN,Neotoma,albigula,Rodent
22,23,7,17,1977,13,DM,M,36.0,NaN,Dipodomys,merriami,Rodent
23,24,7,17,1977,13,SH,M,21.0,NaN,Sigmodon,hispidus,Rodent
24,25,7,17,1977,9,DM,M,35.0,NaN,Dipodomys,merriami,Rodent
25,26,7,17,1977,15,DM,M,31.0,NaN,Dipodomys,merriami,Rodent
26,27,7,17,1977,15,DM,M,36.0,NaN,Dipodomys,merriami,Rodent
27,28,7,17,1977,11,DM,M,38.0,NaN,Dipodomys,merriami,Rodent
28,29,7,17,1977,11,PP,M,NaN,NaN,Chaetodipus,penicillatus,Rodent
29,30,7,17,1977,10,DS,F,52.0,NaN,Dipodomys,spectabilis,Rodent
...,...,...,...,...,...,...,...,...,...,...,...,...
35519,35520,12,31,2002,9,SF,NaN,24.0,36.0,Sigmodon,fulviventer,Rodent
35520,35521,12,31,2002,9,DM,M,37.0,48.0,Dipodomys,merriami,Rodent
35521,35522,12,31,2002,9,DM,F,35.0,45.0,Dipodomys,merriami,Rodent
35522,35523,12,31,2002,9,DM,F,36.0,44.0,Dipodomys,merriami,Rodent
35523,35524,12,31,2002,9,PB,F,25.0,27.0,Chaetodipus,baileyi,Rodent
35524,35525,12,31,2002,9,OL,M,21.0,26.0,Onychomys,leucogaster,Rodent
35525,35526,12,31,2002,8,OT,F,20.0,24.0,Onychomys,torridus,Rodent
35526,35527,12,31,2002,13,DO,F,33.0,43.0,Dipodomys,ordii,Rodent
35527,35528,12,31,2002,13,US,NaN,NaN,NaN,Sparrow,sp.,Bird
35528,35529,12,31,2002,13,PB,F,25.0,25.0,Chaetodipus,baileyi,Rodent
35529,35530,12,31,2002,13,OT,F,20.0,NaN,Onychomys,torridus,Rodent
35530,35531,12,31,2002,13,PB,F,27.0,NaN,Chaetodipus,baileyi,Rodent
35531,35532,12,31,2002,14,DM,F,34.0,43.0,Dipodomys,merriami,Rodent
35532,35533,12,31,2002,14,DM,F,36.0,48.0,Dipodomys,merriami,Rodent
35533,35534,12,31,2002,14,DM,M,37.0,56.0,Dipodomys,merriami,Rodent
35534,35535,12,31,2002,14,DM,M,37.0,53.0,Dipodomys,merriami,Rodent
35535,35536,12,31,2002,14,DM,F,35.0,42.0,Dipodomys,merriami,Rodent
35536,35537,12,31,2002,14,DM,F,36.0,46.0,Dipodomys,merriami,Rodent
35537,35538,12,31,2002,15,PB,F,26.0,31.0,Chaetodipus,baileyi,Rodent
35538,35539,12,31,2002,15,SF,M,26.0,68.0,Sigmodon,fulviventer,Rodent
35539,35540,12,31,2002,15,PB,F,26.0,23.0,Chaetodipus,baileyi,Rodent
35540,35541,12,31,2002,15,PB,F,24.0,31.0,Chaetodipus,baileyi,Rodent
35541,35542,12,31,2002,15,PB,F,26.0,29.0,Chaetodipus,baileyi,Rodent
35542,35543,12,31,2002,15,PB,F,27.0,34.0,Chaetodipus,baileyi,Rodent
35543,35544,12,31,2002,15,US,NaN,NaN,NaN,Sparrow,sp.,Bird
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN,Ammospermophilus,harrisi,Rodent
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN,Ammospermophilus,harrisi,Rodent
35546,35547,12,31,2002,10,RM,F,15.0,14.0,Reithrodontomys,megalotis,Rodent
35547,35548,12,31,2002,7,DO,M,36.0,51.0,Dipodomys,ordii,Rodent
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN

* remove NaN entries
http://pandas.pydata.org/pandas-docs/version/0.17.0/generated/pandas.DataFrame.dropna.html

In [11]:
no_nan_survey = no_duplicates_survey.dropna()
no_nan_survey

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight,genus,species,taxa
62,63,8,19,1977,3,DM,M,35.0,40.0,Dipodomys,merriami,Rodent
63,64,8,19,1977,7,DM,M,37.0,48.0,Dipodomys,merriami,Rodent
64,65,8,19,1977,4,DM,F,34.0,29.0,Dipodomys,merriami,Rodent
65,66,8,19,1977,4,DM,F,35.0,46.0,Dipodomys,merriami,Rodent
66,67,8,19,1977,7,DM,M,35.0,36.0,Dipodomys,merriami,Rodent
67,68,8,19,1977,8,DO,F,32.0,52.0,Dipodomys,ordii,Rodent
68,69,8,19,1977,2,PF,M,15.0,8.0,Perognathus,flavus,Rodent
69,70,8,19,1977,3,OX,F,21.0,22.0,Onychomys,sp.,Rodent
70,71,8,19,1977,7,DM,F,36.0,35.0,Dipodomys,merriami,Rodent
73,74,8,19,1977,8,PF,M,12.0,7.0,Perognathus,flavus,Rodent
74,75,8,19,1977,8,DM,F,32.0,22.0,Dipodomys,merriami,Rodent
77,78,8,19,1977,1,PF,M,16.0,9.0,Perognathus,flavus,Rodent
78,79,8,19,1977,7,DM,F,34.0,42.0,Dipodomys,merriami,Rodent
80,81,8,19,1977,4,PF,F,14.0,8.0,Perognathus,flavus,Rodent
81,82,8,19,1977,4,DM,F,35.0,41.0,Dipodomys,merriami,Rodent
82,83,8,20,1977,6,DM,F,37.0,37.0,Dipodomys,merriami,Rodent
83,84,8,20,1977,19,DM,F,35.0,43.0,Dipodomys,merriami,Rodent
84,85,8,20,1977,23,DM,F,35.0,41.0,Dipodomys,merriami,Rodent
85,86,8,20,1977,18,DM,F,33.0,40.0,Dipodomys,merriami,Rodent
86,87,8,20,1977,5,PF,F,11.0,9.0,Perognathus,flavus,Rodent
87,88,8,20,1977,18,DM,F,35.0,45.0,Dipodomys,merriami,Rodent
88,89,8,20,1977,12,PP,F,20.0,15.0,Chaetodipus,penicillatus,Rodent
89,90,8,20,1977,18,DM,M,35.0,29.0,Dipodomys,merriami,Rodent
91,92,8,20,1977,6,DM,M,35.0,39.0,Dipodomys,merriami,Rodent
93,94,8,20,1977,18,DM,F,36.0,43.0,Dipodomys,merriami,Rodent
94,95,8,20,1977,23,DM,M,38.0,46.0,Dipodomys,merriami,Rodent
95,96,8,20,1977,12,DM,M,36.0,41.0,Dipodomys,merriami,Rodent
96,97,8,20,1977,18,DM,M,36.0,41.0,Dipodomys,merriami,Rodent
97,98,8,20,1977,5,DM,M,38.0,40.0,Dipodomys,merriami,Rodent
98,99,8,20,1977,11,DM,M,37.0,45.0,Dipodomys,merriami,Rodent
...,...,...,...,...,...,...,...,...,...,...,...,...
35507,35508,12,31,2002,6,PB,F,25.0,35.0,Chaetodipus,baileyi,Rodent
35508,35509,12,31,2002,6,PB,M,26.0,47.0,Chaetodipus,baileyi,Rodent
35509,35510,12,31,2002,6,PB,F,26.0,30.0,Chaetodipus,baileyi,Rodent
35513,35514,12,31,2002,11,PP,M,23.0,18.0,Chaetodipus,penicillatus,Rodent
35515,35516,12,31,2002,11,DO,F,35.0,52.0,Dipodomys,ordii,Rodent
35516,35517,12,31,2002,11,DM,F,36.0,42.0,Dipodomys,merriami,Rodent
35517,35518,12,31,2002,11,DO,M,36.0,38.0,Dipodomys,ordii,Rodent
35518,35519,12,31,2002,9,DM,M,37.0,49.0,Dipodomys,merriami,Rodent
35520,35521,12,31,2002,9,DM,M,37.0,48.0,Dipodomys,merriami,Rodent
35521,35522,12,31,2002,9,DM,F,35.0,45.0,Dipodomys,merriami,Rodent
35522,35523,12,31,2002,9,DM,F,36.0,44.0,Dipodomys,merriami,Rodent
35523,35524,12,31,2002,9,PB,F,25.0,27.0,Chaetodipus,baileyi,Rodent
35524,35525,12,31,2002,9,OL,M,21.0,26.0,Onychomys,leucogaster,Rodent
35525,35526,12,31,2002,8,OT,F,20.0,24.0,Onychomys,torridus,Rodent
35526,35527,12,31,2002,13,DO,F,33.0,43.0,Dipodomys,ordii,Rodent
35528,35529,12,31,2002,13,PB,F,25.0,25.0,Chaetodipus,baileyi,Rodent
35531,35532,12,31,2002,14,DM,F,34.0,43.0,Dipodomys,merriami,Rodent
35532,35533,12,31,2002,14,DM,F,36.0,48.0,Dipodomys,merriami,Rodent
35533,35534,12,31,2002,14,DM,M,37.0,56.0,Dipodomys,merriami,Rodent
35534,35535,12,31,2002,14,DM,M,37.0,53.0,Dipodomys,merriami,Rodent
35535,35536,12,31,2002,14,DM,F,35.0,42.0,Dipodomys,merriami,Rodent
35536,35537,12,31,2002,14,DM,F,36.0,46.0,Dipodomys,merriami,Rodent
35537,35538,12,31,2002,15,PB,F,26.0,31.0,Chaetodipus,baileyi,Rodent
35538,35539,12,31,2002,15,SF,M,26.0,68.0,Sigmodon,fulviventer,Rodent
35539,35540,12,31,2002,15,PB,F,26.0,23.0,Chaetodipus,baileyi,Rodent
35540,35541,12,31,2002,15,PB,F,24.0,31.0,Chaetodipus,baileyi,Rodent
35541,35542,12,31,2002,15,PB,F,26.0,29.0,Chaetodipus,baileyi,Rodent
35542,35543,12,31,2002,15,PB,F,27.0,34.0,Chaetodipus,baileyi,Rodent
35546,35547,12,31,2002,10,RM,F,15.0,14.0,Reithrodontomys,megalotis,Rodent
35547,35548,12,31,2002,7,DO,M,36.0,51.0,Dipodomys,ordii,Rodent

* run function over each row to clean a string (or something else)
http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html
apply() to run over rows/columns

http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.applymap.html
applymap() to run over all elements

## Sorting Data

* order data by weight (asc/desc)
* group by sex
* group by species

In [39]:
sort_asc = no_nan_survey.sort_values(['sex','species','weight','hindfoot_length'])
sort_asc

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight,genus,species,taxa
14550,14551,6,11,1988,21,NL,F,32.0,32.0,Neotoma,albigula,Rodent
5965,5966,5,22,1982,2,NL,F,32.0,40.0,Neotoma,albigula,Rodent
7648,7649,4,16,1983,17,NL,F,28.0,44.0,Neotoma,albigula,Rodent
9359,9360,7,4,1984,15,NL,F,28.0,50.0,Neotoma,albigula,Rodent
4394,4395,5,3,1981,18,NL,F,32.0,56.0,Neotoma,albigula,Rodent
16108,16109,6,3,1989,12,NL,F,29.0,57.0,Neotoma,albigula,Rodent
14383,14384,4,18,1988,8,NL,F,30.0,60.0,Neotoma,albigula,Rodent
12702,12703,4,26,1987,1,NL,F,30.0,63.0,Neotoma,albigula,Rodent
25790,25791,5,10,1997,12,NL,F,30.0,63.0,Neotoma,albigula,Rodent
25765,25766,5,10,1997,12,NL,F,30.0,64.0,Neotoma,albigula,Rodent
17661,17662,7,21,1990,18,NL,F,30.0,66.0,Neotoma,albigula,Rodent
11559,11560,6,4,1986,20,NL,F,27.0,68.0,Neotoma,albigula,Rodent
12672,12673,4,26,1987,3,NL,F,29.0,69.0,Neotoma,albigula,Rodent
18575,18576,4,19,1991,18,NL,F,30.0,69.0,Neotoma,albigula,Rodent
11667,11668,7,3,1986,17,NL,F,30.0,70.0,Neotoma,albigula,Rodent
20050,20051,5,31,1992,3,NL,F,30.0,70.0,Neotoma,albigula,Rodent
8323,8324,9,10,1983,17,NL,F,32.0,71.0,Neotoma,albigula,Rodent
12707,12708,4,26,1987,2,NL,F,28.0,72.0,Neotoma,albigula,Rodent
1981,1982,8,22,1979,12,NL,F,29.0,72.0,Neotoma,albigula,Rodent
32816,32817,10,13,2001,2,NL,F,29.0,72.0,Neotoma,albigula,Rodent
3122,3123,7,21,1980,24,NL,F,29.0,75.0,Neotoma,albigula,Rodent
12212,12213,1,31,1987,14,NL,F,29.0,75.0,Neotoma,albigula,Rodent
20054,20055,5,31,1992,3,NL,F,29.0,75.0,Neotoma,albigula,Rodent
3000,3001,5,18,1980,18,NL,F,30.0,75.0,Neotoma,albigula,Rodent
4675,4676,7,8,1981,18,NL,F,31.0,76.0,Neotoma,albigula,Rodent
18570,18571,4,19,1991,18,NL,F,31.0,76.0,Neotoma,albigula,Rodent
28115,28116,6,28,1998,15,NL,F,33.0,76.0,Neotoma,albigula,Rodent
16019,16020,5,10,1989,17,NL,F,33.0,78.0,Neotoma,albigula,Rodent
12199,12200,1,31,1987,14,NL,F,29.0,80.0,Neotoma,albigula,Rodent
12923,12924,6,30,1987,20,NL,F,30.0,80.0,Neotoma,albigula,Rodent
...,...,...,...,...,...,...,...,...,...,...,...,...
25885,25886,5,11,1997,3,OT,M,20.0,31.0,Onychomys,torridus,Rodent
30515,30516,3,5,2000,6,OT,M,20.0,31.0,Onychomys,torridus,Rodent
32125,32126,5,27,2001,8,OT,M,20.0,31.0,Onychomys,torridus,Rodent
6987,6988,11,21,1982,14,OT,M,21.0,31.0,Onychomys,torridus,Rodent
16402,16403,7,30,1989,14,OT,M,21.0,31.0,Onychomys,torridus,Rodent
19858,19859,3,8,1992,5,OT,M,21.0,31.0,Onychomys,torridus,Rodent
20321,20322,8,30,1992,4,OT,M,21.0,31.0,Onychomys,torridus,Rodent
21491,21492,4,10,1994,2,OT,M,21.0,31.0,Onychomys,torridus,Rodent
25697,25698,5,10,1997,22,OT,M,21.0,31.0,Onychomys,torridus,Rodent
26132,26133,6,10,1997,9,OT,M,21.0,31.0,Onychomys,torridus,Rodent
27846,27847,5,3,1998,16,OT,M,21.0,31.0,Onychomys,torridus,Rodent
32262,32263,7,22,2001,3,OT,M,21.0,31.0,Onychomys,torridus,Rodent
33862,33863,4,17,2002,3,OT,M,21.0,31.0,Onychomys,torridus,Rodent
4983,4984,11,22,1981,11,OT,M,22.0,31.0,Onychomys,torridus,Rodent
21576,21577,5,18,1994,2,OT,M,20.0,32.0,Onychomys,torridus,Rodent
24253,24254,7,21,1996,9,OT,M,20.0,32.0,Onychomys,torridus,Rodent
25232,25233,3,15,1997,2,OT,M,20.0,32.0,Onychomys,torridus,Rodent
28212,28213,7,18,1998,22,OT,M,20.0,32.0,Onychomys,torridus,Rodent
30802,30803,6,4,2000,3,OT,M,20.0,32.0,Onychomys,torridus,Rodent
25615,25616,4,13,1997,8,OT,M,21.0,32.0,Onychomys,torridus,Rodent
33611,33612,3,13,2002,17,OT,M,21.0,32.0,Onychomys,torridus,Rodent
16612,16613,11,4,1989,12,OT,M,23.0,32.0,Onychomys,torridus,Rodent
19641,19642,2,6,1992,12,OT,M,20.0,33.0,Onychomys,torridus,Rodent
30654,30655,4,31,2000,6,OT,M,20.0,33.0,Onychomys,torridus,Rodent
20233,20234,7,31,1992,13,OT,M,20.0,34.0,Onychomys,torridus,Rodent
16596,16597,11,4,1989,21,OT,M,20.0,35.0,Onychomys,torridus,Rodent
19629,19630,1,9,1992,13,OT,M,20.0,35.0,Onychomys,torridus,Rodent
19277,19278,11,14,1991,3,OT,M,21.0,35.0,Onychomys,torridus,Rodent
21339,21340,2,1,1994,2,OT,M,20.0,36.0,Onychomys,torridus,Rodent
19482,19483,12,8,1991,3,OT,M,21.0,36.0,Onychomys,torridus,Rodent

In [21]:
sort_desc = no_nan_survey.sort_values(['weight','hindfoot_length'], ascending = False)
sort_desc

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight,genus,species,taxa
33048,33049,11,17,2001,12,NL,M,33.0,280.0,Neotoma,albigula,Rodent
12870,12871,5,28,1987,2,NL,M,32.0,278.0,Neotoma,albigula,Rodent
15458,15459,1,11,1989,9,NL,M,36.0,275.0,Neotoma,albigula,Rodent
2132,2133,10,25,1979,2,NL,F,33.0,274.0,Neotoma,albigula,Rodent
12728,12729,4,26,1987,2,NL,M,32.0,270.0,Neotoma,albigula,Rodent
30174,30175,1,8,2000,2,NL,M,34.0,265.0,Neotoma,albigula,Rodent
12601,12602,4,6,1987,2,NL,M,34.0,260.0,Neotoma,albigula,Rodent
13024,13025,7,1,1987,2,NL,M,33.0,260.0,Neotoma,albigula,Rodent
8868,8869,2,5,1984,15,NL,M,33.0,259.0,Neotoma,albigula,Rodent
12457,12458,3,2,1987,2,NL,M,33.0,259.0,Neotoma,albigula,Rodent
8426,8427,10,15,1983,18,NL,M,34.0,256.0,Neotoma,albigula,Rodent
12298,12299,2,1,1987,2,NL,M,32.0,253.0,Neotoma,albigula,Rodent
5845,5846,5,21,1982,12,NL,M,34.0,252.0,Neotoma,albigula,Rodent
31861,31862,3,24,2001,2,NL,F,32.0,252.0,Neotoma,albigula,Rodent
4372,4373,5,3,1981,24,NL,F,33.0,251.0,Neotoma,albigula,Rodent
9030,9031,4,10,1984,3,NL,M,34.0,250.0,Neotoma,albigula,Rodent
15685,15686,3,12,1989,12,NL,M,34.0,249.0,Neotoma,albigula,Rodent
8294,8295,9,10,1983,18,NL,M,36.0,248.0,Neotoma,albigula,Rodent
15301,15302,12,14,1988,2,NL,M,35.0,248.0,Neotoma,albigula,Rodent
35211,35212,12,7,2002,2,NL,M,33.0,248.0,Neotoma,albigula,Rodent
5399,5400,2,23,1982,5,NL,F,32.0,248.0,Neotoma,albigula,Rodent
12720,12721,4,26,1987,9,NL,M,32.0,247.0,Neotoma,albigula,Rodent
17316,17317,3,30,1990,15,NL,M,34.0,243.0,Neotoma,albigula,Rodent
15779,15780,3,13,1989,2,NL,M,33.0,242.0,Neotoma,albigula,Rodent
8869,8870,2,5,1984,3,NL,M,36.0,241.0,Neotoma,albigula,Rodent
2349,2350,1,16,1980,6,NL,M,35.0,241.0,Neotoma,albigula,Rodent
3086,3087,6,23,1980,13,NL,M,35.0,241.0,Neotoma,albigula,Rodent
11328,11329,3,9,1986,2,NL,M,34.0,240.0,Neotoma,albigula,Rodent
15592,15593,2,5,1989,5,NL,M,34.0,240.0,Neotoma,albigula,Rodent
2345,2346,1,16,1980,5,NL,M,35.0,239.0,Neotoma,albigula,Rodent
...,...,...,...,...,...,...,...,...,...,...,...,...
20909,20910,6,18,1993,20,PF,F,15.0,5.0,Perognathus,flavus,Rodent
22993,22994,12,2,1995,20,PF,M,15.0,5.0,Perognathus,flavus,Rodent
23038,23039,12,2,1995,18,PF,F,15.0,5.0,Perognathus,flavus,Rodent
23282,23283,1,28,1996,3,PF,M,15.0,5.0,Perognathus,flavus,Rodent
24119,24120,6,14,1996,4,PF,M,15.0,5.0,Perognathus,flavus,Rodent
24502,24503,9,22,1996,11,PF,F,15.0,5.0,Perognathus,flavus,Rodent
24506,24507,9,22,1996,6,PF,F,15.0,5.0,Perognathus,flavus,Rodent
5964,5965,5,22,1982,14,RM,F,14.0,5.0,Reithrodontomys,megalotis,Rodent
6460,6461,8,16,1982,14,PF,M,14.0,5.0,Perognathus,flavus,Rodent
7346,7347,2,26,1983,19,PF,M,14.0,5.0,Perognathus,flavus,Rodent
7467,7468,3,14,1983,19,PF,M,14.0,5.0,Perognathus,flavus,Rodent
8091,8092,7,16,1983,18,PF,F,14.0,5.0,Perognathus,flavus,Rodent
10418,10419,5,24,1985,3,RM,F,14.0,5.0,Reithrodontomys,megalotis,Rodent
22141,22142,3,5,1995,4,PF,F,14.0,5.0,Perognathus,flavus,Rodent
4657,4658,7,8,1981,6,PF,F,13.0,5.0,Perognathus,flavus,Rodent
29905,29906,10,10,1999,4,PP,M,21.0,4.0,Chaetodipus,penicillatus,Rodent
8735,8736,12,8,1983,19,RM,M,17.0,4.0,Reithrodontomys,megalotis,Rodent
7083,7084,11,22,1982,3,PF,F,16.0,4.0,Perognathus,flavus,Rodent
9789,9790,1,19,1985,16,RM,F,16.0,4.0,Reithrodontomys,megalotis,Rodent
9793,9794,1,19,1985,24,RM,M,16.0,4.0,Reithrodontomys,megalotis,Rodent
9798,9799,1,19,1985,19,RM,M,16.0,4.0,Reithrodontomys,megalotis,Rodent
9822,9823,1,19,1985,23,RM,M,16.0,4.0,Reithrodontomys,megalotis,Rodent
9852,9853,1,19,1985,17,RM,M,16.0,4.0,Reithrodontomys,megalotis,Rodent
9936,9937,2,16,1985,21,RM,M,16.0,4.0,Reithrodontomys,megalotis,Rodent
10118,10119,3,17,1985,10,RM,M,16.0,4.0,Reithrodontomys,megalotis,Rodent
10438,10439,5,24,1985,7,RM,M,16.0,4.0,Reithrodontomys,megalotis,Rodent
4051,4052,4,5,1981,3,PF,F,15.0,4.0,Perognathus,flavus,Rodent
9908,9909,1,20,1985,15,RM,F,15.0,4.0,Reithrodontomys,megalotis,Rodent
5345,5346,2,22,1982,21,PF,F,14.0,4.0,Perognathus,flavus,Rodent
217,218,9,13,1977,1,PF,M,13.0,4.0,Perognathus,flavus,Rodent

In [30]:
group_by_sex = sort_asc.groupby('sex')
group_by_sex
group_by_sex.size()

sex
F    14584
M    16092
dtype: int64

## Transforming Data

* convert m/d/y into datetime
* convert weight to different unit, demonstrating writing a function to transform data

In [39]:
datetimes = pd.to_datetime(
    { 'year': no_nan_survey.year,
      'month': no_nan_survey.month,
      'day': no_nan_survey.day
    },
    errors='coerce')

dates_survey = no_nan_survey.assign(date = datetimes)
dates_survey

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight,genus,species,taxa,date
62,63,8,19,1977,3,DM,M,35.0,40.0,Dipodomys,merriami,Rodent,1977-08-19
63,64,8,19,1977,7,DM,M,37.0,48.0,Dipodomys,merriami,Rodent,1977-08-19
64,65,8,19,1977,4,DM,F,34.0,29.0,Dipodomys,merriami,Rodent,1977-08-19
65,66,8,19,1977,4,DM,F,35.0,46.0,Dipodomys,merriami,Rodent,1977-08-19
66,67,8,19,1977,7,DM,M,35.0,36.0,Dipodomys,merriami,Rodent,1977-08-19
67,68,8,19,1977,8,DO,F,32.0,52.0,Dipodomys,ordii,Rodent,1977-08-19
68,69,8,19,1977,2,PF,M,15.0,8.0,Perognathus,flavus,Rodent,1977-08-19
69,70,8,19,1977,3,OX,F,21.0,22.0,Onychomys,sp.,Rodent,1977-08-19
70,71,8,19,1977,7,DM,F,36.0,35.0,Dipodomys,merriami,Rodent,1977-08-19
73,74,8,19,1977,8,PF,M,12.0,7.0,Perognathus,flavus,Rodent,1977-08-19
74,75,8,19,1977,8,DM,F,32.0,22.0,Dipodomys,merriami,Rodent,1977-08-19
77,78,8,19,1977,1,PF,M,16.0,9.0,Perognathus,flavus,Rodent,1977-08-19
78,79,8,19,1977,7,DM,F,34.0,42.0,Dipodomys,merriami,Rodent,1977-08-19
80,81,8,19,1977,4,PF,F,14.0,8.0,Perognathus,flavus,Rodent,1977-08-19
81,82,8,19,1977,4,DM,F,35.0,41.0,Dipodomys,merriami,Rodent,1977-08-19
82,83,8,20,1977,6,DM,F,37.0,37.0,Dipodomys,merriami,Rodent,1977-08-20
83,84,8,20,1977,19,DM,F,35.0,43.0,Dipodomys,merriami,Rodent,1977-08-20
84,85,8,20,1977,23,DM,F,35.0,41.0,Dipodomys,merriami,Rodent,1977-08-20
85,86,8,20,1977,18,DM,F,33.0,40.0,Dipodomys,merriami,Rodent,1977-08-20
86,87,8,20,1977,5,PF,F,11.0,9.0,Perognathus,flavus,Rodent,1977-08-20
87,88,8,20,1977,18,DM,F,35.0,45.0,Dipodomys,merriami,Rodent,1977-08-20
88,89,8,20,1977,12,PP,F,20.0,15.0,Chaetodipus,penicillatus,Rodent,1977-08-20
89,90,8,20,1977,18,DM,M,35.0,29.0,Dipodomys,merriami,Rodent,1977-08-20
91,92,8,20,1977,6,DM,M,35.0,39.0,Dipodomys,merriami,Rodent,1977-08-20
93,94,8,20,1977,18,DM,F,36.0,43.0,Dipodomys,merriami,Rodent,1977-08-20
94,95,8,20,1977,23,DM,M,38.0,46.0,Dipodomys,merriami,Rodent,1977-08-20
95,96,8,20,1977,12,DM,M,36.0,41.0,Dipodomys,merriami,Rodent,1977-08-20
96,97,8,20,1977,18,DM,M,36.0,41.0,Dipodomys,merriami,Rodent,1977-08-20
97,98,8,20,1977,5,DM,M,38.0,40.0,Dipodomys,merriami,Rodent,1977-08-20
98,99,8,20,1977,11,DM,M,37.0,45.0,Dipodomys,merriami,Rodent,1977-08-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
35507,35508,12,31,2002,6,PB,F,25.0,35.0,Chaetodipus,baileyi,Rodent,2002-12-31
35508,35509,12,31,2002,6,PB,M,26.0,47.0,Chaetodipus,baileyi,Rodent,2002-12-31
35509,35510,12,31,2002,6,PB,F,26.0,30.0,Chaetodipus,baileyi,Rodent,2002-12-31
35513,35514,12,31,2002,11,PP,M,23.0,18.0,Chaetodipus,penicillatus,Rodent,2002-12-31
35515,35516,12,31,2002,11,DO,F,35.0,52.0,Dipodomys,ordii,Rodent,2002-12-31
35516,35517,12,31,2002,11,DM,F,36.0,42.0,Dipodomys,merriami,Rodent,2002-12-31
35517,35518,12,31,2002,11,DO,M,36.0,38.0,Dipodomys,ordii,Rodent,2002-12-31
35518,35519,12,31,2002,9,DM,M,37.0,49.0,Dipodomys,merriami,Rodent,2002-12-31
35520,35521,12,31,2002,9,DM,M,37.0,48.0,Dipodomys,merriami,Rodent,2002-12-31
35521,35522,12,31,2002,9,DM,F,35.0,45.0,Dipodomys,merriami,Rodent,2002-12-31
35522,35523,12,31,2002,9,DM,F,36.0,44.0,Dipodomys,merriami,Rodent,2002-12-31
35523,35524,12,31,2002,9,PB,F,25.0,27.0,Chaetodipus,baileyi,Rodent,2002-12-31
35524,35525,12,31,2002,9,OL,M,21.0,26.0,Onychomys,leucogaster,Rodent,2002-12-31
35525,35526,12,31,2002,8,OT,F,20.0,24.0,Onychomys,torridus,Rodent,2002-12-31
35526,35527,12,31,2002,13,DO,F,33.0,43.0,Dipodomys,ordii,Rodent,2002-12-31
35528,35529,12,31,2002,13,PB,F,25.0,25.0,Chaetodipus,baileyi,Rodent,2002-12-31
35531,35532,12,31,2002,14,DM,F,34.0,43.0,Dipodomys,merriami,Rodent,2002-12-31
35532,35533,12,31,2002,14,DM,F,36.0,48.0,Dipodomys,merriami,Rodent,2002-12-31
35533,35534,12,31,2002,14,DM,M,37.0,56.0,Dipodomys,merriami,Rodent,2002-12-31
35534,35535,12,31,2002,14,DM,M,37.0,53.0,Dipodomys,merriami,Rodent,2002-12-31
35535,35536,12,31,2002,14,DM,F,35.0,42.0,Dipodomys,merriami,Rodent,2002-12-31
35536,35537,12,31,2002,14,DM,F,36.0,46.0,Dipodomys,merriami,Rodent,2002-12-31
35537,35538,12,31,2002,15,PB,F,26.0,31.0,Chaetodipus,baileyi,Rodent,2002-12-31
35538,35539,12,31,2002,15,SF,M,26.0,68.0,Sigmodon,fulviventer,Rodent,2002-12-31
35539,35540,12,31,2002,15,PB,F,26.0,23.0,Chaetodipus,baileyi,Rodent,2002-12-31
35540,35541,12,31,2002,15,PB,F,24.0,31.0,Chaetodipus,baileyi,Rodent,2002-12-31
35541,35542,12,31,2002,15,PB,F,26.0,29.0,Chaetodipus,baileyi,Rodent,2002-12-31
35542,35543,12,31,2002,15,PB,F,27.0,34.0,Chaetodipus,baileyi,Rodent,2002-12-31
35546,35547,12,31,2002,10,RM,F,15.0,14.0,Reithrodontomys,megalotis,Rodent,2002-12-31
35547,35548,12,31,2002,7,DO,M,36.0,51.0,Dipodomys,ordii,Rodent,2002-12-31

## Statistics

* datetime stats
* any other advanced stats

In [40]:
dates_survey[(dates_survey['date'] > '1987-01-01') & (dates_survey['date'] < '1987-12-31')]

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight,genus,species,taxa,date
12169,12170,1,31,1987,16,RM,F,15.0,11.0,Reithrodontomys,megalotis,Rodent,1987-01-31
12170,12171,1,31,1987,24,DM,M,35.0,45.0,Dipodomys,merriami,Rodent,1987-01-31
12172,12173,1,31,1987,20,OL,M,19.0,38.0,Onychomys,leucogaster,Rodent,1987-01-31
12173,12174,1,31,1987,14,DM,M,35.0,49.0,Dipodomys,merriami,Rodent,1987-01-31
12174,12175,1,31,1987,18,PE,F,20.0,25.0,Peromyscus,eremicus,Rodent,1987-01-31
12175,12176,1,31,1987,24,RM,M,16.0,11.0,Reithrodontomys,megalotis,Rodent,1987-01-31
12176,12177,1,31,1987,14,DM,F,34.0,41.0,Dipodomys,merriami,Rodent,1987-01-31
12177,12178,1,31,1987,16,RM,F,15.0,7.0,Reithrodontomys,megalotis,Rodent,1987-01-31
12178,12179,1,31,1987,14,OL,M,20.0,32.0,Onychomys,leucogaster,Rodent,1987-01-31
12179,12180,1,31,1987,24,DM,F,34.0,38.0,Dipodomys,merriami,Rodent,1987-01-31
12180,12181,1,31,1987,6,DM,M,36.0,43.0,Dipodomys,merriami,Rodent,1987-01-31
12181,12182,1,31,1987,12,OT,M,19.0,24.0,Onychomys,torridus,Rodent,1987-01-31
12182,12183,1,31,1987,18,RM,M,17.0,10.0,Reithrodontomys,megalotis,Rodent,1987-01-31
12183,12184,1,31,1987,12,OL,F,19.0,25.0,Onychomys,leucogaster,Rodent,1987-01-31
12184,12185,1,31,1987,6,DM,F,35.0,39.0,Dipodomys,merriami,Rodent,1987-01-31
12185,12186,1,31,1987,12,NL,F,33.0,164.0,Neotoma,albigula,Rodent,1987-01-31
12186,12187,1,31,1987,18,DM,M,35.0,48.0,Dipodomys,merriami,Rodent,1987-01-31
12187,12188,1,31,1987,24,DM,M,35.0,43.0,Dipodomys,merriami,Rodent,1987-01-31
12188,12189,1,31,1987,18,PE,M,19.0,27.0,Peromyscus,eremicus,Rodent,1987-01-31
12189,12190,1,31,1987,21,RM,F,17.0,14.0,Reithrodontomys,megalotis,Rodent,1987-01-31
12190,12191,1,31,1987,12,RM,M,16.0,12.0,Reithrodontomys,megalotis,Rodent,1987-01-31
12191,12192,1,31,1987,20,RM,F,15.0,9.0,Reithrodontomys,megalotis,Rodent,1987-01-31
12192,12193,1,31,1987,24,RM,F,15.0,11.0,Reithrodontomys,megalotis,Rodent,1987-01-31
12193,12194,1,31,1987,17,RM,F,16.0,15.0,Reithrodontomys,megalotis,Rodent,1987-01-31
12194,12195,1,31,1987,17,RM,M,16.0,9.0,Reithrodontomys,megalotis,Rodent,1987-01-31
12195,12196,1,31,1987,24,DM,M,34.0,26.0,Dipodomys,merriami,Rodent,1987-01-31
12196,12197,1,31,1987,22,RM,F,15.0,8.0,Reithrodontomys,megalotis,Rodent,1987-01-31
12197,12198,1,31,1987,21,PM,M,19.0,26.0,Peromyscus,maniculatus,Rodent,1987-01-31
12198,12199,1,31,1987,20,DO,F,33.0,47.0,Dipodomys,ordii,Rodent,1987-01-31
12199,12200,1,31,1987,14,NL,F,29.0,80.0,Neotoma,albigula,Rodent,1987-01-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13804,13805,11,22,1987,1,DS,M,53.0,128.0,Dipodomys,spectabilis,Rodent,1987-11-22
13805,13806,11,22,1987,11,DM,M,37.0,42.0,Dipodomys,merriami,Rodent,1987-11-22
13806,13807,11,22,1987,1,DM,M,36.0,43.0,Dipodomys,merriami,Rodent,1987-11-22
13807,13808,11,22,1987,3,RM,F,17.0,11.0,Reithrodontomys,megalotis,Rodent,1987-11-22
13808,13809,11,22,1987,4,PF,F,17.0,7.0,Perognathus,flavus,Rodent,1987-11-22
13809,13810,11,22,1987,2,DO,F,37.0,46.0,Dipodomys,ordii,Rodent,1987-11-22
13810,13811,11,22,1987,10,RM,M,17.0,9.0,Reithrodontomys,megalotis,Rodent,1987-11-22
13811,13812,11,22,1987,1,DM,F,36.0,41.0,Dipodomys,merriami,Rodent,1987-11-22
13812,13813,11,22,1987,7,RM,F,16.0,7.0,Reithrodontomys,megalotis,Rodent,1987-11-22
13813,13814,11,22,1987,1,OL,M,21.0,27.0,Onychomys,leucogaster,Rodent,1987-11-22
13814,13815,11,22,1987,15,NL,F,35.0,190.0,Neotoma,albigula,Rodent,1987-11-22
13816,13817,11,22,1987,3,PE,M,20.0,23.0,Peromyscus,eremicus,Rodent,1987-11-22
13817,13818,11,22,1987,4,OL,F,20.0,29.0,Onychomys,leucogaster,Rodent,1987-11-22
13818,13819,11,22,1987,15,PE,M,21.0,20.0,Peromyscus,eremicus,Rodent,1987-11-22
13819,13820,11,22,1987,2,DM,M,37.0,45.0,Dipodomys,merriami,Rodent,1987-11-22
13820,13821,11,22,1987,15,RM,M,17.0,12.0,Reithrodontomys,megalotis,Rodent,1987-11-22
13821,13822,11,22,1987,2,DM,M,35.0,38.0,Dipodomys,merriami,Rodent,1987-11-22
13822,13823,11,22,1987,11,DM,M,36.0,27.0,Dipodomys,merriami,Rodent,1987-11-22
13823,13824,11,22,1987,4,DM,M,36.0,35.0,Dipodomys,merriami,Rodent,1987-11-22
13824,13825,11,22,1987,11,PE,M,21.0,24.0,Peromyscus,eremicus,Rodent,1987-11-22
13829,13830,11,22,1987,1,DO,M,36.0,40.0,Dipodomys,ordii,Rodent,1987-11-22
13830,13831,11,22,1987,2,PE,F,21.0,27.0,Peromyscus,eremicus,Rodent,1987-11-22
13832,13833,11,22,1987,4,DM,M,37.0,43.0,Dipodomys,merriami,Rodent,1987-11-22
13833,13834,11,22,1987,3,PE,M,20.0,22.0,Peromyscus,eremicus,Rodent,1987-11-22
13834,13835,11,22,1987,4,DS,M,50.0,134.0,Dipodomys,spectabilis,Rodent,1987-11-22
13835,13836,11,22,1987,5,PM,M,20.0,27.0,Peromyscus,maniculatus,Rodent,1987-11-22
13836,13837,11,22,1987,11,DM,F,37.0,40.0,Dipodomys,merriami,Rodent,1987-11-22
13837,13838,11,22,1987,1,DM,M,37.0,52.0,Dipodomys,merriami,Rodent,1987-11-22
13838,13839,11,22,1987,8,DM,M,36.0,35.0,Dipodomys,merriami,Rodent,1987-11-22
13839,13840,11,22,1987,13,DM,F,35.0,38.0,Dipodomys,merriami,Rodent,1987-11-22

## Visualization

* bar
* box
* scatterplot
* histogram
* applying to subset of data / comparison between different subsets