# Code4Lib 2017 Workshop

## Importing the Pandas library

Before we can use Pandas, we need to import it, much like any other programming library. In addition to Pandas, we'll also import the numpy library and the part of the matplotlib library which is called "pyplot". We will also give all these libraries aliases so that they can be referred to later by shorter names.

In [2]:
# import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Loading Data

Pandas can load data in a variety of formats, including CSV, Excel, HDF, SQL, JSON, etc. We'll specifically look at how to load CSV data, but the methods for loading other types are largely the same, and can be found here: http://pandas.pydata.org/pandas-docs/stable/io.html

We will load local data that has already been saved to our server, but you can also make web requests for data as well by passing a URL instead of a path to a file.

For this workshop, we'll work with a dataset called "surveys.csv", which contains a subset of the data from Ernst et al Long-term monitoring and experimental manipulation of a Chihuahuan Desert ecosystem near Portal, Arizona, USA

The data is stored locally at the path "data/surveys.csv", but otherwise, the data can be downloaded here: https://ndownloader.figshare.com/files/2292172

To load the data, run the "pd.read_csv" method, and pass in the path to the CSV file as a string:

In [6]:
survey_data = pd.read_csv("data/surveys.csv")

survey_data

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN
5,6,7,16,1977,1,PF,M,14.0,NaN
6,7,7,16,1977,2,PE,F,NaN,NaN
7,8,7,16,1977,1,DM,M,37.0,NaN
8,9,7,16,1977,1,DM,F,34.0,NaN
9,10,7,16,1977,6,PF,F,20.0,NaN
10,11,7,16,1977,5,DS,F,53.0,NaN
11,12,7,16,1977,7,DM,M,38.0,NaN
12,13,7,16,1977,3,DM,M,35.0,NaN
13,14,7,16,1977,8,DM,NaN,NaN,NaN
14,15,7,16,1977,6,DM,F,36.0,NaN
15,16,7,16,1977,4,DM,F,36.0,NaN
16,17,7,16,1977,3,DS,F,48.0,NaN
17,18,7,16,1977,2,PP,M,22.0,NaN
18,19,7,16,1977,4,PF,NaN,NaN,NaN
19,20,7,17,1977,11,DS,F,48.0,NaN
20,21,7,17,1977,14,DM,F,34.0,NaN
21,22,7,17,1977,15,NL,F,31.0,NaN
22,23,7,17,1977,13,DM,M,36.0,NaN
23,24,7,17,1977,13,SH,M,21.0,NaN
24,25,7,17,1977,9,DM,M,35.0,NaN
25,26,7,17,1977,15,DM,M,31.0,NaN
26,27,7,17,1977,15,DM,M,36.0,NaN
27,28,7,17,1977,11,DM,M,38.0,NaN
28,29,7,17,1977,11,PP,M,NaN,NaN
29,30,7,17,1977,10,DS,F,52.0,NaN
...,...,...,...,...,...,...,...,...,...
35519,35520,12,31,2002,9,SF,NaN,24.0,36.0
35520,35521,12,31,2002,9,DM,M,37.0,48.0
35521,35522,12,31,2002,9,DM,F,35.0,45.0
35522,35523,12,31,2002,9,DM,F,36.0,44.0
35523,35524,12,31,2002,9,PB,F,25.0,27.0
35524,35525,12,31,2002,9,OL,M,21.0,26.0
35525,35526,12,31,2002,8,OT,F,20.0,24.0
35526,35527,12,31,2002,13,DO,F,33.0,43.0
35527,35528,12,31,2002,13,US,NaN,NaN,NaN
35528,35529,12,31,2002,13,PB,F,25.0,25.0
35529,35530,12,31,2002,13,OT,F,20.0,NaN
35530,35531,12,31,2002,13,PB,F,27.0,NaN
35531,35532,12,31,2002,14,DM,F,34.0,43.0
35532,35533,12,31,2002,14,DM,F,36.0,48.0
35533,35534,12,31,2002,14,DM,M,37.0,56.0
35534,35535,12,31,2002,14,DM,M,37.0,53.0
35535,35536,12,31,2002,14,DM,F,35.0,42.0
35536,35537,12,31,2002,14,DM,F,36.0,46.0
35537,35538,12,31,2002,15,PB,F,26.0,31.0
35538,35539,12,31,2002,15,SF,M,26.0,68.0
35539,35540,12,31,2002,15,PB,F,26.0,23.0
35540,35541,12,31,2002,15,PB,F,24.0,31.0
35541,35542,12,31,2002,15,PB,F,26.0,29.0
35542,35543,12,31,2002,15,PB,F,27.0,34.0
35543,35544,12,31,2002,15,US,NaN,NaN,NaN
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

## Pandas Data Structures

Pandas provides two main data structures: Series, and DataFrame. We'll look at both of these in a little more detail.

### Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the index. The basic method to create a Series is to call:

In [7]:
data = [1, 2, 3, 4, 5, 6, 7]
s1 = pd.Series(data)
s1

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [8]:
# try doing this on your own
data2 = []
s2 = pd.Series(data)

You can also pass other types of data to create a Series, including other Python data structures, and NumPy data structures. Let's try creating a Series with a Python dictionary:

In [11]:
dict_data = {'name': 'Bret', 'occupation': 'Digital Technologies Development Librarian', 'points': 481}
s3 = pd.Series(dict_data)
s3

name                                                Bret
occupation    Digital Technologies Development Librarian
points                                               481
dtype: object

### Series Details
* is like ndarray (need to explain what this is)
* is like dict (demo key access)

### Data Frame
* How to create a data frame?
    * From series or dicts
    * From dict of ndarrays or lists
    * From structured record or array
    * From list of dicts
    * From a dict of tuples
    
* Column selection, addition, and deletion

### Pandas Data types (dtypes)

Pandas offers multiple data types (dtypes) to work with, differing slightly from the datatypes offered by Python. Here is a table summarizing the different datatypes:


| Pandas Type               | Python Native Type | Description                                                                                                                                                     |
|---------------------------|--------------------|-----------------------------------------------------------------------------------------------------------------------------------------------------------------|
| object                    | string             | The most general dtype will be assigned to your column if the column has mixed types (numbers and strings)                                                      |
| int64                     | int                | Numeric characters. 64 refers to the memory allocated to hold this character                                                                                    |
| float64                   | float              | Numeric characters with decimals. If a column contains numbers and NaN (not a number), Pandas will default to float64 in case your missing value has a decimal. |
| datetime64, timedelta[ns] | N/A                | Values meant to hold time data. Look into these for time-series experiments.                                                                                    |

### Inspecting Data Types

You can find out the datatype of a particular

In [10]:
survey_data['record_id'].dtype
survey_data['hindfoot_length'].dtype
survey_data['species_id'].dtype

dtype('O')

### Generating data

### Exploring data
* head
* tail
* index
* columns
* describe