In [2]:
# import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Code4Lib 2017 Workshop Part 2

## Merging Data

In many real world situations, the data we'd like to analyze comes in multiple files. Pandas provides multiple different ways of merging data, including "merge()", and "concat()". To get started, we first need to load each of our datasets into a DataFrame. We'll use the same surveys data as in the last part of the workshop, as well as another dataset called "species.csv", which augments the data available for each species code.

In [4]:
survey_dataframe = pd.read_csv("data/surveys.csv")
survey2_dataframe = pd.read_csv("data/surveys2.csv")

### Concatenation

First, we'll look at concatenating two DataFrames. We've imported the original survey data from the last part of the workshop, as well as another file "surveys2.csv", which contains additional records with the same structure as "surveys.csv". Often, data is separated over multiple files for many reasons including logical separation (time-based, etc), or due to size constraints, so it is useful to know how to concatenate multiple sets of data.

Pandas provides the "pd.concat()" method, which accepts a sequence (example: tuple, list, dict) of Series or DataFrame objects to concatenate together. We'll pass a list containing the survey_dataframe and the survey2_dataframe to create a new DataFrame "big_survey_dataframe":

In [6]:
big_survey_dataframe = pd.concat([survey_dataframe, survey2_dataframe])
big_survey_dataframe

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN
5,6,7,16,1977,1,PF,M,14.0,NaN
6,7,7,16,1977,2,PE,F,NaN,NaN
7,8,7,16,1977,1,DM,M,37.0,NaN
8,9,7,16,1977,1,DM,F,34.0,NaN
9,10,7,16,1977,6,PF,F,20.0,NaN
10,11,7,16,1977,5,DS,F,53.0,NaN
11,12,7,16,1977,7,DM,M,38.0,NaN
12,13,7,16,1977,3,DM,M,35.0,NaN
13,14,7,16,1977,8,DM,NaN,NaN,NaN
14,15,7,16,1977,6,DM,F,36.0,NaN
15,16,7,16,1977,4,DM,F,36.0,NaN
16,17,7,16,1977,3,DS,F,48.0,NaN
17,18,7,16,1977,2,PP,M,22.0,NaN
18,19,7,16,1977,4,PF,NaN,NaN,NaN
19,20,7,17,1977,11,DS,F,48.0,NaN
20,21,7,17,1977,14,DM,F,34.0,NaN
21,22,7,17,1977,15,NL,F,31.0,NaN
22,23,7,17,1977,13,DM,M,36.0,NaN
23,24,7,17,1977,13,SH,M,21.0,NaN
24,25,7,17,1977,9,DM,M,35.0,NaN
25,26,7,17,1977,15,DM,M,31.0,NaN
26,27,7,17,1977,15,DM,M,36.0,NaN
27,28,7,17,1977,11,DM,M,38.0,NaN
28,29,7,17,1977,11,PP,M,NaN,NaN
29,30,7,17,1977,10,DS,F,52.0,NaN
...,...,...,...,...,...,...,...,...,...
69,70,8,19,1977,3,OX,F,21.0,22.0
70,71,8,19,1977,7,DM,F,36.0,35.0
71,72,8,19,1977,2,NL,M,31.0,NaN
72,73,8,19,1977,3,DS,F,44.0,NaN
73,74,8,19,1977,8,PF,M,12.0,7.0
74,75,8,19,1977,8,DM,F,32.0,22.0
75,76,8,19,1977,9,DS,F,47.0,NaN
76,77,8,19,1977,4,SS,NaN,NaN,NaN
77,78,8,19,1977,1,PF,M,16.0,9.0
78,79,8,19,1977,7,DM,F,34.0,42.0
79,80,8,19,1977,1,DS,M,48.0,NaN
80,81,8,19,1977,4,PF,F,14.0,8.0
81,82,8,19,1977,4,DM,F,35.0,41.0
82,83,8,20,1977,6,DM,F,37.0,37.0
83,84,8,20,1977,19,DM,F,35.0,43.0
84,85,8,20,1977,23,DM,F,35.0,41.0
85,86,8,20,1977,18,DM,F,33.0,40.0
86,87,8,20,1977,5,PF,F,11.0,9.0
87,88,8,20,1977,18,DM,F,35.0,45.0
88,89,8,20,1977,12,PP,F,20.0,15.0
89,90,8,20,1977,18,DM,M,35.0,29.0
90,91,8,20,1977,11,DS,F,50.0,NaN
91,92,8,20,1977,6,DM,M,35.0,39.0
92,93,8,20,1977,18,DM,NaN,NaN,42.0
93,94,8,20,1977,18,DM,F,36.0,43.0
94,95,8,20,1977,23,DM,M,38.0,46.0
95,96,8,20,1977,12,DM,M,36.0,41.0
96,97,8,20,1977,18,DM,M,36.0,41.0
97,98,8,20,1977,5,DM,M,38.0,40.0
98,99,8,20,1977,11,DM,M,37.0,45.0

### Merge

Merging in Pandas is when you combine two different DataFrames that share an identifier into a single DataFrame. This can be compared to the idea of joins in SQL. When you have two different DataFrames containing a shared identifier (think foreign key), you can use the "pd.merge()" function to merge them into a single DataFrame.

We'll first load another dataset from "species.csv", containing information which expands on the species_id in our survey dataset.

In [10]:
species_dataframe = pd.read_csv("data/species.csv")
species_dataframe.head()

  species_id             genus          species    taxa
0         AB        Amphispiza        bilineata    Bird
1         AH  Ammospermophilus          harrisi  Rodent
2         AS        Ammodramus       savannarum    Bird
3         BA           Baiomys          taylori  Rodent
4         CB   Campylorhynchus  brunneicapillus    Bird

http://pandas.pydata.org/pandas-docs/stable/merging.html



inner join merge

In [11]:
merged_survey_dataframe = pd.merge(left=big_survey_dataframe, right=species_dataframe, left_on='species_id', right_on='species_id')
merged_survey_dataframe

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight,genus,species,taxa
0,1,7,16,1977,2,NL,M,32.0,NaN,Neotoma,albigula,Rodent
1,2,7,16,1977,3,NL,M,33.0,NaN,Neotoma,albigula,Rodent
2,22,7,17,1977,15,NL,F,31.0,NaN,Neotoma,albigula,Rodent
3,38,7,17,1977,17,NL,M,33.0,NaN,Neotoma,albigula,Rodent
4,72,8,19,1977,2,NL,M,31.0,NaN,Neotoma,albigula,Rodent
5,106,8,20,1977,12,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent
6,107,8,20,1977,18,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent
7,121,8,21,1977,15,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent
8,171,9,11,1977,12,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent
9,194,9,12,1977,11,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent
10,214,9,12,1977,17,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent
11,224,9,13,1977,2,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent
12,266,10,16,1977,2,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent
13,272,10,16,1977,18,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent
14,281,10,16,1977,20,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent
15,282,10,16,1977,22,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent
16,297,10,17,1977,11,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent
17,314,10,17,1977,14,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent
18,344,10,18,1977,3,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent
19,349,11,12,1977,2,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent
20,353,11,12,1977,18,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent
21,363,11,12,1977,2,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent
22,390,11,13,1977,11,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent
23,393,11,13,1977,14,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent
24,406,11,14,1977,12,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent
25,435,12,10,1977,2,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent
26,465,12,11,1977,5,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent
27,469,12,11,1977,12,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent
28,475,12,11,1977,11,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent
29,486,12,11,1977,14,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent
...,...,...,...,...,...,...,...,...,...,...,...,...
34855,26557,7,29,1997,7,PL,F,20.0,22.0,Peromyscus,leucopus,Rodent
34856,26701,7,30,1997,3,PL,M,21.0,19.0,Peromyscus,leucopus,Rodent
34857,26787,9,27,1997,7,PL,F,21.0,16.0,Peromyscus,leucopus,Rodent
34858,26889,9,28,1997,16,PL,F,21.0,10.0,Peromyscus,leucopus,Rodent
34859,26921,9,28,1997,5,PL,M,22.0,20.0,Peromyscus,leucopus,Rodent
34860,26931,9,28,1997,10,PL,F,10.0,19.0,Peromyscus,leucopus,Rodent
34861,26934,9,28,1997,10,PL,M,21.0,22.0,Peromyscus,leucopus,Rodent
34862,26966,10,25,1997,7,PL,M,20.0,16.0,Peromyscus,leucopus,Rodent
34863,27185,11,22,1997,7,PL,F,21.0,22.0,Peromyscus,leucopus,Rodent
34864,27386,12,29,1997,3,PL,M,20.0,17.0,Peromyscus,leucopus,Rodent
34865,27393,12,29,1997,15,PL,M,19.0,16.0,Peromyscus,leucopus,Rodent
34866,27481,2,1,1998,15,PL,M,19.0,18.0,Peromyscus,leucopus,Rodent
34867,27538,2,1,1998,10,PL,F,20.0,20.0,Peromyscus,leucopus,Rodent
34868,27792,5,2,1998,7,PL,F,20.0,8.0,Peromyscus,leucopus,Rodent
34869,27801,5,3,1998,15,PL,M,21.0,22.0,Peromyscus,leucopus,Rodent
34870,27898,5,28,1998,23,PL,M,20.0,20.0,Peromyscus,leucopus,Rodent
34871,27957,5,29,1998,9,PL,M,21.0,16.0,Peromyscus,leucopus,Rodent
34872,27975,5,29,1998,10,PL,M,20.0,13.0,Peromyscus,leucopus,Rodent
34873,30499,3,4,2000,24,PL,M,20.0,21.0,Peromyscus,leucopus,Rodent
34874,23435,2,25,1996,13,PX,NaN,NaN,NaN,Chaetodipus,sp.,Rodent
34875,24669,10,13,1996,3,PX,NaN,NaN,NaN,Chaetodipus,sp.,Rodent
34876,24991,2,8,1997,23,PX,F,19.0,20.0,Chaetodipus,sp.,Rodent
34877,25137,2,9,1997,13,PX,M,20.0,18.0,Chaetodipus,sp.,Rodent
34878,28806,11,21,1998,7,PX,NaN,NaN,NaN,Chaetodipus,sp.,Rodent
34879,30986,7,1,2000,7,PX,NaN,NaN,NaN,Chaetodipus,sp.,Rodent
34880,28988,12,23,1998,6,CT,NaN,NaN,NaN,Cnemidophorus,tigris,Reptile
34881,35512,12,31,2002,11,US,NaN,NaN,NaN,Sparrow,sp.,Bird
34882,35513,12,31,2002,11,US,NaN,NaN,NaN,Sparrow,sp.,Bird
34883,35528,12,31,2002,13,US,NaN,NaN,NaN,Sparrow,sp.,Bird
34884,35544,12,31,2002,15,US,NaN,NaN,NaN,Sparrow,sp.,Bird

left join merge

## Cleaning Data

* removing duplicate entries

* remove NaN entries

* run function over each row to clean a string (or something else)

## Sorting Data

* order data by weight (asc/desc)
* group by sex
* group by species

## Transforming Data

* convert m/d/y into datetime
* convert weight to different unit, demonstrating writing a function to transform data

## Statistics

* datetime stats
* any other advanced stats

## Visualization

* bar
* box
* scatterplot
* histogram
* applying to subset of data / comparison between different subsets