# Code4Lib 2017 Workshop Part 1

## Importing the Pandas library

Before we can use Pandas, we need to import it, much like any other programming library. In addition to Pandas, we'll also import the numpy library and the part of the matplotlib library which is called "pyplot". We will also give all these libraries aliases so that they can be referred to later by shorter names.

In [2]:
# import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Pandas Data Structures

Pandas provides two main data structures: Series, and DataFrame. We'll look at both of these in a little more detail.

### Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the index. The basic method to create a Series is to call:

In [11]:
data = [1, 2, 3, 4, 5, 6, 7]
s1 = pd.Series(data)
s1

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [12]:
# try doing this on your own
data2 = []
s2 = pd.Series(data2)

You can also pass other types of data to create a Series, including other Python data structures, and NumPy data structures. Let's try creating a Series with a Python dictionary:

In [13]:
dict_data = {'name': 'Bret', 'occupation': 'Digital Technologies Development Librarian', 'points': 481}
s3 = pd.Series(dict_data)
s3

name                                                Bret
occupation    Digital Technologies Development Librarian
points                                               481
dtype: object

#### Series Details
* is like ndarray (need to explain what this is)
* is like dict (demo key access)
  * why is it not like a dict?

### Data Frame

A DataFrame is a 2-dimensional data structure that holds data of any type in columns. It is similar to a spreadsheet or data.frame in R. DataFrames are 0-indexed.

You can create a DataFrame by passing in a dictionary whose keys are column labels, and values are lists (or Series, or ndarrays) containing column values. Here is an example of creating a DataFrame containing information about fruits:

In [30]:
fruits_df = pd.DataFrame({'name': ['apple', 'banana', 'orange'],
                          'color': ['red', 'yellow', 'orange'],
                          'size_cm': [5, 12, 4]})
fruits_df

    color    name  size_cm
0     red   apple        5
1  yellow  banana       12
2  orange  orange        4

You can add new rows to an existing DataFrame by creating a new DataFrame with the additional rows, and then appending it to the existing DataFrame. Setting the "ignore_index" parameter to True allows the new rows to be indexed according to the original DataFrame instead of the new DataFrame. Try running the next block of code, and then try setting "ignore_index" to False and re-running to see what happens.

In [35]:
# adding new rows
more_fruits_df = pd.DataFrame({'name': ['strawberry', 'blueberry'],
                          'color': ['red', 'blue'],
                          'size_cm': [3, 1]})
fruits_df.append(more_fruits_df, ignore_index=True)

    color        name  size_cm
0     red       apple        5
1  yellow      banana       12
2  orange      orange        4
3     red  strawberry        3
4    blue   blueberry        1

Notice in the previous examples, the index (left hand column) defaults to a 0-indexed, increasing number. You can also pass an array as an "index" argument to the DataFrame constructor to define a different index.

In [37]:
pd.DataFrame({'name': ['carrot', 'broccoli', 'lettuce'],
              'color': ['orange', 'green', 'green']},
             index=['first', 'second', 'third'])

         color      name
first   orange    carrot
second   green  broccoli
third    green   lettuce

To learn more about the different ways you can create DataFrames, read here: http://pandas.pydata.org/pandas-docs/stable/dsintro.html#dataframe
    
#### Column selection, addition, and deletion

A good way to think about a DataFrame is a collection of Series objects that have a single index, where each column of a DataFrame is a single Series.

You can access data within a DataFrame by column, similarly to the way you would access data from a dictionary in Python. We'll select the size_cm column of the fruits_df DataFrame from earlier:

In [43]:
fruits_df['size_cm']

0     5
1    12
2     4
Name: size_cm, dtype: int64

## Loading Data

Pandas can load data in a variety of formats, including CSV, Excel, HDF, SQL, JSON, etc. We'll specifically look at how to load CSV data, but the methods for loading other types are largely the same, and can be found here: http://pandas.pydata.org/pandas-docs/stable/io.html

We will load local data that has already been saved to our server, but you can also make web requests for data as well by passing a URL instead of a path to a file.

For this workshop, we'll work with a dataset called "surveys.csv", which contains a subset of the data from Ernst et al Long-term monitoring and experimental manipulation of a Chihuahuan Desert ecosystem near Portal, Arizona, USA

The data is stored locally at the path "data/surveys.csv", but otherwise, the data can be downloaded here: https://ndownloader.figshare.com/files/2292172

To load the data into a DataFrame, run the "pd.read_csv" method, and pass in the path to the CSV file as a string:

In [10]:
survey_dataframe = pd.read_csv("data/surveys.csv")

survey_dataframe

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN
5,6,7,16,1977,1,PF,M,14.0,NaN
6,7,7,16,1977,2,PE,F,NaN,NaN
7,8,7,16,1977,1,DM,M,37.0,NaN
8,9,7,16,1977,1,DM,F,34.0,NaN
9,10,7,16,1977,6,PF,F,20.0,NaN
10,11,7,16,1977,5,DS,F,53.0,NaN
11,12,7,16,1977,7,DM,M,38.0,NaN
12,13,7,16,1977,3,DM,M,35.0,NaN
13,14,7,16,1977,8,DM,NaN,NaN,NaN
14,15,7,16,1977,6,DM,F,36.0,NaN
15,16,7,16,1977,4,DM,F,36.0,NaN
16,17,7,16,1977,3,DS,F,48.0,NaN
17,18,7,16,1977,2,PP,M,22.0,NaN
18,19,7,16,1977,4,PF,NaN,NaN,NaN
19,20,7,17,1977,11,DS,F,48.0,NaN
20,21,7,17,1977,14,DM,F,34.0,NaN
21,22,7,17,1977,15,NL,F,31.0,NaN
22,23,7,17,1977,13,DM,M,36.0,NaN
23,24,7,17,1977,13,SH,M,21.0,NaN
24,25,7,17,1977,9,DM,M,35.0,NaN
25,26,7,17,1977,15,DM,M,31.0,NaN
26,27,7,17,1977,15,DM,M,36.0,NaN
27,28,7,17,1977,11,DM,M,38.0,NaN
28,29,7,17,1977,11,PP,M,NaN,NaN
29,30,7,17,1977,10,DS,F,52.0,NaN
...,...,...,...,...,...,...,...,...,...
35519,35520,12,31,2002,9,SF,NaN,24.0,36.0
35520,35521,12,31,2002,9,DM,M,37.0,48.0
35521,35522,12,31,2002,9,DM,F,35.0,45.0
35522,35523,12,31,2002,9,DM,F,36.0,44.0
35523,35524,12,31,2002,9,PB,F,25.0,27.0
35524,35525,12,31,2002,9,OL,M,21.0,26.0
35525,35526,12,31,2002,8,OT,F,20.0,24.0
35526,35527,12,31,2002,13,DO,F,33.0,43.0
35527,35528,12,31,2002,13,US,NaN,NaN,NaN
35528,35529,12,31,2002,13,PB,F,25.0,25.0
35529,35530,12,31,2002,13,OT,F,20.0,NaN
35530,35531,12,31,2002,13,PB,F,27.0,NaN
35531,35532,12,31,2002,14,DM,F,34.0,43.0
35532,35533,12,31,2002,14,DM,F,36.0,48.0
35533,35534,12,31,2002,14,DM,M,37.0,56.0
35534,35535,12,31,2002,14,DM,M,37.0,53.0
35535,35536,12,31,2002,14,DM,F,35.0,42.0
35536,35537,12,31,2002,14,DM,F,36.0,46.0
35537,35538,12,31,2002,15,PB,F,26.0,31.0
35538,35539,12,31,2002,15,SF,M,26.0,68.0
35539,35540,12,31,2002,15,PB,F,26.0,23.0
35540,35541,12,31,2002,15,PB,F,24.0,31.0
35541,35542,12,31,2002,15,PB,F,26.0,29.0
35542,35543,12,31,2002,15,PB,F,27.0,34.0
35543,35544,12,31,2002,15,US,NaN,NaN,NaN
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

## Exploring Data

The data we just loaded has a lot of rows. Printing out the entire DataFrame gave us a compressed view of the data, but using some built-in methods, we can see a lot more information.

First, all the column names in a DataFrame are stored in the "columns" attribute, and can be returned like this:

In [14]:
survey_dataframe.columns

Index(['record_id', 'month', 'day', 'year', 'plot_id', 'species_id', 'sex',
       'hindfoot_length', 'weight'],
      dtype='object')

Sometimes it is useful to see the first few rows or last few rows of a dataset. You can use the "head()", and "tail()" methods to do that. The default is to display the first or last 5 rows for these methods, but you can pass a number to these methods if you'd like a different number of rows.

In [15]:
survey_dataframe.head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN

In [44]:
survey_dataframe.tail(10)

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
35539,35540,12,31,2002,15,PB,F,26.0,23.0
35540,35541,12,31,2002,15,PB,F,24.0,31.0
35541,35542,12,31,2002,15,PB,F,26.0,29.0
35542,35543,12,31,2002,15,PB,F,27.0,34.0
35543,35544,12,31,2002,15,US,NaN,NaN,NaN
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

To get a quick idea about the size of the data you are working with, use the "shape" attribute on the DataFrame. This returns a tuple with the size of each dimension of the DataFrame:

In [17]:
survey_dataframe.shape

(35549, 9)

So far we've been looking at information that we can easily figure out by looking at the output of the entire DataFrame. We can get a better summary of the entire dataset by using the "describe()" method:

In [46]:
survey_dataframe.describe()

,record_id,month,day,year,plot_id,hindfoot_length,weight
count,35549.000000,35549.000000,35549.000000,35549.000000,35549.000000,31438.000000,32283.000000
mean,17775.000000,6.474022,16.105966,1990.475231,11.397001,29.287932,42.672428
std,10262.256696,3.396583,8.256691,7.493355,6.799406,9.564759,36.631259
min,1.000000,1.000000,1.000000,1977.000000,1.000000,2.000000,4.000000
25%,8888.000000,4.000000,9.000000,1984.000000,5.000000,21.000000,20.000000
50%,17775.000000,6.000000,16.000000,1990.000000,11.000000,32.000000,37.000000
75%,26662.000000,9.000000,23.000000,1997.000000,17.000000,36.000000,48.000000
max,35549.000000,12.000000,31.000000,2002.000000,24.000000,70.000000,280.000000

As you can see, we get a variety of metrics for every numeric row in the DataFrame. These include:

* Total number of entries (count)
* Mean
* Standard deviation (std)
* Minimum value (min)
* Lower quartile (25%)
* Median (50%)
* Upper quartile (75%)
* Maximum value (max)

However, these values are not as useful for enumerations such as record_id/plot_id, or ordinal values such as month/day/year. We can use the "describe()" method to get information about specific columns in a DataFrame like this:

In [56]:
survey_dataframe['weight'].describe()

count    32283.000000
mean        42.672428
std         36.631259
min          4.000000
25%         20.000000
50%         37.000000
75%         48.000000
max        280.000000
Name: weight, dtype: float64

You can get these statistics individually as well by calling each method separately. Find more information here about all the stats methods you can call on a DataFrame: http://pandas.pydata.org/pandas-docs/stable/api.html#api-dataframe-stats

You'll notice there are other methods to get statistics that aren't represented in the "describe()" call above. A popular example is getting the mode of the column. Let's find out what the most popular species is in the data (remember the first value in the output below is the index, and not the count):

In [57]:
survey_dataframe['species_id'].mode()

0    DM
dtype: object

In addition to seeing the most popular species, it might be useful to see a listing of all possible species. To do this, we can use the "pd.unique()" method, which returns all unique values in a Series as a NumPy array. We'll pass the 'species_id' column of the DataFrame:

In [63]:
pd.unique(survey_dataframe['species_id'])

array(['NL', 'DM', 'PF', 'PE', 'DS', 'PP', 'SH', 'OT', 'DO', 'OX', 'SS',
       'OL', 'RM', nan, 'SA', 'PM', 'AH', 'DX', 'AB', 'CB', 'CM', 'CQ',
       'RF', 'PC', 'PG', 'PH', 'PU', 'CV', 'UR', 'UP', 'ZL', 'UL', 'CS',
       'SC', 'BA', 'SF', 'RO', 'AS', 'SO', 'PI', 'ST', 'CU', 'SU', 'RX',
       'PB', 'PL', 'PX', 'CT', 'US'], dtype=object)

## Pandas Data types (dtypes)

By now you've probably seen the word "dtype" in the output of many of the previous commands. Pandas offers multiple data types (dtypes) to work with, differing slightly from the datatypes offered by Python. Here is a table summarizing the different datatypes:


| Pandas Type               | Python Native Type | Description                                                                                                                                                     |
|---------------------------|--------------------|-----------------------------------------------------------------------------------------------------------------------------------------------------------------|
| object                    | string             | The most general dtype will be assigned to your column if the column has mixed types (numbers and strings)                                                      |
| int64                     | int                | Numeric characters. 64 refers to the memory allocated to hold this character                                                                                    |
| float64                   | float              | Numeric characters with decimals. If a column contains numbers and NaN (not a number), Pandas will default to float64 in case your missing value has a decimal. |
| datetime64, timedelta[ns] | N/A                | Values meant to hold time data. Look into these for time-series experiments.                                                                                    |

### Inspecting Data Types

You can find out the datatype of a particular column by looking at the "dtype" attribute. We'll look at a few in the survey_data DataFrame from the previous section:

In [48]:
survey_data['record_id'].dtype

dtype('int64')

In [50]:
survey_data['weight'].dtype

dtype('float64')

In [52]:
survey_data['species_id'].dtype

dtype('O')

### NaN

Please note, null values in pandas are populated as NaN.